node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.idea
*.md
*.log
coverage
dist
.env
.env.example
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local